@import '../../assets/styles/global.scss';

app-top-bar > div {
  width: 100%;
  padding: 1rem 2rem;
  background-color: $top-bar-color;
}

app-top-bar h1 {
  opacity: 0.5;
  margin: 0;
  font-size: 2rem;
}
